#pageHeading{
  clear:both;
  margin-left:40%;
  margin-top:2%;
}
#pageHeader{
  color: white;
}
#startDateLabel{
  margin-left: 3%;
  color: white;
}
#startDateDiv{
  margin-left: 3%;
  margin-top: -0.5%;
  
}
#endDateLabel{
  margin-left: 3%;
  color: white;
}
#endDateDiv{
  margin-left: 3%;
  margin-top: -0.5%;

}
#fetchButton{
  width: 100px;
  margin-bottom: 10%;
  background: lightgray;
  margin-top: -3%;
  margin-left: 34%;
}
#printdiv{
  width: 100px;
  margin-left: 8px;
  background: lightgray;
}
#tableLabelId{
  margin-top:20px;
  margin-bottom: 20px;
}
.datepickerdiv{
  float: left;
}

.divpos {
  float:left;
}
input {
  width: 200px;
  height: 40px;
  border: 1px solid #db7f7f;
  border-radius: 5px;
  padding: 8px;

}
#addButton {
  background:lightgray;
  width:100px;
  margin-top: 30px;
  margin-left: 180px;
}
#tablecontent {
    background: lightgray;
}
.my-custom-scrollbar {
    max-height: 400px;
    overflow-y: auto;
    clear:both;
}
#printCostDiv{
  margin-left: 65%;
  margin-top: 1.5%;

}
.printTotalCost{
    float: left;
}
#totalSumLavel{
  margin-top: 10px;
  font-size: 100%;
}
#tfoot{
  display:none;
}
