<web-app id="WebApp_ID" version="3.0"
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
 
http://java.sun.com/xml/ns/j2ee/web-app_3_0.xsd">  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>  
   <welcome-file>index.html</welcome-file>
  </welcome-file-list>  
  <servlet>
    <servlet-name>uihomepage</servlet-name>
    <jsp-file>/index.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>uihomepage</servlet-name>
    <url-pattern>/createtransaction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>uihomepage</servlet-name>
    <url-pattern>/transactionhistory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>uihomepage</servlet-name>
    <url-pattern>/createinventory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>uihomepage</servlet-name>
    <url-pattern>/itementryininventory</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>uihomepage</servlet-name>
    <url-pattern>/learningcomp</url-pattern>
  </servlet-mapping>
  
  
</web-app>
