<div class="wrapper divpos" id ="barcodediv">
  <input class="input" placeholder="Enter Bar Code" type="text" id="newItemInput" [(ngModel)]="barCode" (blur)="onBarCodeEnter()">
  <span class="underline"></span>
</div>
<div class="wrapper divpos" id ="namediv">
    <input class="input" placeholder="Enter Item Name" type="text" id="olditeminput" [(ngModel)]="name">
  
  <span class="underline"></span>
</div>

<div class="wrapper divpos" id ="ratediv">
    <input class="input" placeholder="Enter rate" type="text" id="rate" [(ngModel)]="rate">  
    <span class="underline"></span>
  </div>

<!-- <form class="example-form divpos">
    <mat-form-field class="example-full-width">
      <input id="olditeminput"type="text" placeholder="Enter old item name" aria-label="Assignee"  matInput [formControl]="myControl" [matAutocomplete]="auto" (ngModelChange)="onItemChange()"/>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>   -->

<button type="button" class="btn btn-primary product-entry divpos" id="addButton" (click)="addItem()">Add</button>  
<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0" id="tablecontent">
      <thead>
        <tr>
          <th *ngFor="let head of headerList" scope="col">{{head}} </th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let item of itemList">
                <th scope="row">{{item.id}}</th>
                <td>{{item.barCode}}</td>
                <td>{{item.name}}</td>
                <td>{{item.rate}}</td>
                <td (click)="removeItem(item.id)">{{item.remove}}</td>
        </tr>
      </tbody>
      
    </table>
  </div>
  <div id="totalSumDiv" *ngIf="id > 0">
    <button type="button" class="btn btn-primary product-entry" id="saveButton" (click)="saveItem()">save</button> 
  </div>