#pageHeading{
  margin-left:40%;
  margin-top:2%;
  color: white;
}
 .divpos {
     float:left;
     margin-bottom: 20px;
 }
 
.input {
    background-color: transparent;
    box-sizing: border-box;
    left: 30%;
    position: relative;
    width: 200px;
    background: white;
    border: 1px solid #db7f7f;
    border-radius: 5px;
    height: 40px;
    padding-left: 5px;
}  
#itembarcode:focus {
    outline: none;  
    background: lightgoldenrodyellow;;
}
 #tablecontent {
     background: lightgray;
 }
 .my-custom-scrollbar {
     max-height: 400px;
     overflow-y: auto;
     clear:both;
 }
 #totalSumDiv {
   margin-left: 78.5%;
   margin-top: 15px;
 }
 #saveButton{
   width:100px;
   background:lightgray;
 }
 