#customerIdDiv{
  /*margin-left: -8%; */
  margin-left:3%;
  width: 35%;
  
}
#customerID:focus {
  outline: none;  
  background: lightgoldenrodyellow;
}
#itemInfoDiv {
  margin-top: -1%;
}
#barcode{
  margin-left: 16%;
  width: 100%;
}
#barcode:focus {
  outline: none;  
  background: lightgoldenrodyellow;
}
#quantity{
  margin-left: 70%;
  width: 110px;
}
#quantity:focus {
  outline: none;  
  background: lightgoldenrodyellow;
}
#rate{
  margin-left: 12%;
  width: 100px;
}
#rate:focus {
  outline: none;  
  background: lightgoldenrodyellow;
}

.divpos {
     float:left;
    /* margin-bottom: 20px; */
}
   
input {
  background-color: transparent;
  box-sizing: border-box;
  position: relative;
  margin-top: 11px;
  margin-bottom: 10px;
  background: white;
  border: 1px solid #db7f7f;
  border-radius: 5px;
  height: 40px;
  width: 101%;
  padding-left: 5px;

}  


#newButton {
background:lightgray;
width:100px;
margin-left: 30%;
margin-top: -40px;
}
#tablecontent {
    background: lightgray;
}
.my-custom-scrollbar {
    max-height: 400px;
    overflow-y: auto;
    clear:both;
}
#printCostDiv{
  margin-left: 73%;
  margin-top: 1.5%;

}
.printTotalCost{
    float: left;
}
#totalSumLavel{
  margin-top: 10px;
  font-size: 100%;
}
#printdiv{
  width: 100px;
  margin-left: 8px;
  background: lightgray;
}
#tfoot{
  display:none;
}
