<div  id ="customerIdDiv">
  <input class="input" placeholder="Customer Id" type="text" id="customerID" [(ngModel)]="customerID"/>
</div>
<div id="itemInfoDiv">
    <!-- <form class="example-form divpos">
      <mat-form-field class="example-full-width">
        <input value='' id="nameinput"type="text" placeholder="Enter item name" aria-label="Assignee"  matInput [formControl]="myControl" [matAutocomplete]="auto" (ngModelChange)="onItemChange()"/>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>  -->  
  <div class="divpos" id ="itemdiv">
    <input class="input" placeholder="Item barcode" type="text" id="barcode" [(ngModel)]="barcode"  (keydown)="onEnterBarcode($event)" />
  </div>
  <div class="divpos" id ="quantitydiv">
    <input class="input" placeholder="Quantity" type="number" id="quantity" [(ngModel)]="quantity"  [disabled]="disableFlag" (blur)="onQuantityChange()"/>
  </div>
  <div class="divpos" id ="rate">
    <input class="input" placeholder="Rate" type="number" id="rate" [(ngModel)]="rate" [disabled]="disableFlag" (blur)="onEnterRate()"/>
  </div>

  <!-- <div class="wrapper divpos" id ="cost">
    <input class="input" placeholder="Items cost" type="text" id="cost" [(ngModel)]="cost" [disabled]="true"/>
    <span class="underline"></span>
  </div> -->
  <div class="btndiv" id ="btnDiv">
    <button type="button" class="btn btn-primary divpos" id="newButton" (click)="clearItem()">New</button>  
  </div>
</div>
<div  id="print-section">
<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0" id="tablecontent">
      <thead>
        <tr>
          <th *ngFor="let head of headerList" scope="col">{{head}} </th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let item of itemList">
                <th scope="row">{{item.id}}</th>
                <td>{{item.name}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.rate}}</td>
                <td>{{item.cost}}</td>
                <td (click)="removeItem(item.id)">{{item.remove}}</td>
        </tr>
      </tbody>
      <tfoot id="tfoot"> 
                <tr> 
                    <td align="right" colspan="5">Total Cost: {{totalSum}}</td> 
                </tr> 
      </tfoot> 
    </table>
</div>
</div>
<div id="printCostDiv">
    <div id="totalSumDiv" class="printTotalCost" *ngIf="totalSum > 0">
      <span class="badge" id = "totalSumLavel">Total Cost: {{totalSum}}</span>
    </div>
    <div  class="printTotalCost" *ngIf="totalSum > 0">
      <!-- <button printSectionId="print-section" printTitle="Invoice Details"   ngxPrint id="printdiv" type="button" class="btn btn-primary" (click)="printItem()">Print</button> --> 
      <!--<button printSectionId="print-section" printTitle="Invoice Details"  id="printdiv" type="button" class="btn btn-primary" (click)="printItem()">New</button>  -->
      <button class="btn btn-primary" id="printdiv" type="button" onclick="printJS({printable: itemToPrint
    , properties: ['id','name', 'quantity', 'rate','cost'], type: 'json', header:docheading})" (click)="printItem()">
        Print
     </button>
    </div>
</div>
