<nav class="nav flex-column">
  <div class="commonNav" id="createNav">
    <a class="navtab" id="createLink" routerLink = "createtransaction" (click)="onNavBarClick($event)">Sell Product</a>
  </div>
  <div class="commonNav" id="transactionNav">
    <a class="navtab" id="transactionLink" routerLink = "transactionhistory" (click)="onNavBarClick($event)">Transaction Record(Sell)</a>
  </div>
  <div class="commonNav" id="itemEntryNav">
    <a class="navtab" id="itemEntryLink" routerLink = "itementryininventory" (click)="onNavBarClick($event)">Item Entry in Inventory</a>
  </div>
  <div class="commonNav" id="createInventoryNav">
    <a class="navtab" id="createInventory" routerLink = "createinventory" (click)="onNavBarClick($event)">Create Inventory</a>
  </div>
  <div class="commonNav" id="learningNav">
    <a class="navtab" id="learnCompLink" routerLink = "learningcomp" (click)="onNavBarClick($event)">LearnComponent</a>
  </div>
  </nav>

